.travelprofileimg{
    height: 50px;
    width: 70px;
    text-align: center !important;
    align-items: center;
    align-self: center;
}


.wholetravel{
    width: 95%;

}


.paymentimgs{
    height: 50px;
    width: 70px;
}


@media (min-width:500px) and (max-width: 770px) {
    .wholetravel{
        margin-left: 50px !important;
    }
}