.containerr {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
}
.imggridwhole{
background-color:#efefeb;
}
.imggridwhole {
    height: 400px; 

    width: 100%; 
    max-width: 800px; 
    padding: 10px; 
    box-sizing: border-box;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center; 
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.top-images, .bottom-images {
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap; 
}

.image {
    margin: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    width: 100px;
    height: 100px;
}

.oval-1 {
    width: 150px;
    height: 200px;
    background-image: url('../images/cp1.jpg');
}

.oval-2 {
    width: 120px;
    height: 180px;
    background-image: url('../images/cp2.avif');
}

.oval-3 {
    width: 90px;
    height: 135px;
    background-image: url('../images/cp1.jpg');
}

.oval-4 {
    width: 110px;
    height: 160px;
    background-image: url('../images/cp1.jpg');
}

.oval-5 {
    width: 130px;
    height: 170px;
    background-image: url('../images/cp1.jpg');
}

@media (max-width: 500px) {
    .oval-1, .oval-2, .oval-3, .oval-4, .oval-5 {
        width: 50px;
        height: 100px;
    }

    .top-images, .bottom-images {
        flex-wrap: nowrap; 
        justify-content: center; 
    }

    .top-images {
        justify-content: space-around; 
    }

    .bottom-images {
        justify-content: space-around; 
    }
}
