.contact-conatiner{
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactadress{
    background-color: black;
    color:whitesmoke;
    height: fit-content;
    padding: 20px;
    width: fit-content;
}

.input{
 width: 100%;
 border: none;
 border-bottom: 2px solid gainsboro ;
}
.inp{
    width: 47%;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid gainsboro ;
   }

.input:focus{
    border-bottom: 2px solid darkorange ;
    outline: none;

}
.inp:focus{
    border-bottom: 2px solid darkorange ;
    outline: none;

}
@media (max-width:500px) {
    .contactadress{
        width: 100%;
    }
    .feedbackform{
        margin-left: 4% !important;
    }
}