@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navb .dropdown-item {
  color: #000 !important; /* Apply a dark color to dropdown items */
}

.navbar-dark {
  background-color:black !important;
  color: #fff;

}
.tabs{
  outline: none !important;
  border: 0px !important;
}

.navbar-light {
  background-color: #f8f9fa;
  color: #000;
}
.nav-link:active{
  color: orangered !important;
  /* transition: ease-out 0.5s; */
}

.logoimg {
  /* height: 70px; */
  width: 120px;
  padding: 0 !important;
  margin: 0 !important;
  align-self: start !important;
}
.navbar-toggler{
    outline: none !important;
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow: 0px !important;
}
.navbar-toggler:active{
  outline: none !important;
  border-radius: 0px !important;
  border: 0px !important;
  box-shadow: 0 0 0 !important;
}

.navb{
  display: flex;
  justify-content:space-between;
  align-items: end;
  /* padding: 10px; */
  font-size: 14px;
  font-family:'Roboto';
  font-weight: 800 !important;
  text-transform: uppercase;
}
.zz{
  z-index: 2000 !important;
}


.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  border: none !important;
}

.nav-link {
  text-align: center;
}
.nav-link:hover{
  border-bottom: 2px solid orangered !important;
}
.nav-link{
  border-bottom: 2px solid  #f8f9fa !important;
}



@media (min-width: 500px) and (max-width: 780px) {
  .logoimg {
      /* height: 60px; */
  }
  .navb{
    /* margin-top: 10px; */
  }
  .navhome{
    margin-right: 0;
  }

}

/* Adjustments for mobile view */
@media (max-width: 500px) {
  .logoimg {
      height: 45px;
  }
  .navb {
      flex-direction: row;
      height: auto;
      padding: 10px;
  }
  .navhome{
    margin-right: 0;
  }
  .navbar-collapse {
      flex-grow: 1;
  }
  .topheader{
    font-size: 8px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    display: none !important;  }
}
@media (max-width:400px) {
  .topheader{
    font-size: 7px;
  }
  .navhome{
    margin-right: 0;
  }
}
@media (max-width:380px) {
  .topheader{
    font-size: 6px;
  }
  .navhome{
    margin-right: 0;
  }
}


