* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-dark {
  background-color:black !important;
  color: #fff;
}

.navbar-light {
  background-color: #f8f9fa;
  color: #000;
}

.logoimg {
  height: 70px;
  width: 100px;
}

.navb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}



.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  border: none !important;
}

.nav-link {
  text-align: center;
}

@media (max-width: 992px) {
  .navbar-collapse {
    justify-content: flex-start;
  }
}

/* Adjustments for tablet view */
@media (min-width: 500px) and (max-width: 780px) {
  .logoimg {
      height: 60px;
  }
  .navb{
    margin-top: 10px;
  }
}

/* Adjustments for mobile view */
@media (max-width: 500px) {
  .logoimg {
      height: 45px;
  }
  .navb {
      flex-direction: row;
      height: auto;
      padding: 10px;
  }
  .navbar-collapse {
      flex-grow: 1;
  }
  .topheader{
    font-size: 8px;
  }
}
@media (max-width:400px) {
  .topheader{
    font-size: 7px;
  }
}
@media (max-width:380px) {
  .topheader{
    font-size: 6px;
  }
}


