.editprofile{
    background-color: gray;
    color: black;
    /* padding: 0% !important; */
    margin: 0% !important;
}
.editprofilediv{
    /* border: 1px solid lavender; */
    /* height: 54vh; */

}

.profileinput{
    width: 450px;
    height: 40px;
    padding-left: 10px;
    outline: none;
}

.profileeditmode{
    background-color: red;
    outline: none;
    padding: 1px 10px ;
    color: white;
    border: 0;
}

.profilecancelmode{
    background-color: blue;
    outline: none;
    padding: 1px 10px ;
    color: white;
    border: 0;
}
.profileupdatebutton{
    background-color: blue;
    outline: none;
    padding: 1px 10px ;
    color: white;
    border: 0;
}

.dashbaordasidepara:hover{
    cursor: pointer;
    /* font-weight: bold; */
    color: blue;
}
.clase{
    color: red;
}
@media (max-width:600px) {
    .profilelabel{
        margin-left: 10px;
    }
}