.footerhover:hover{
    border-bottom: 1px solid whitesmoke;
    cursor:pointer;
}
.footerhover {
    margin-bottom: 0.5rem; /* Make the element take only the width of the text */
}
a{
    text-decoration: none !important;
    color: inherit !important;
}

ul{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-left: 20px;
    padding: 0;
    display: inline-block
}
.lii{
    list-style: none;
}