.pro1 {
    background-image: url('../images/Promotion1.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    /* width: 40% !important ; */
}

.pro2 {
    background-image: url('../images/Promotion2.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    /* width: 40% !important; */
}

.btnpro {
    background-color: yellow;
    color: black;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 1025px) {
    .pro1, .pro2 {
        width: calc(50% - 1rem);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .pro1, .pro2 {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .pro1, .pro2 {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    .pro1, .pro2 {
        width: 100%;
    }
    .pro2{
        margin-left: 1rem;
    }
}
